*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav-con{
    top: 0;
    background-color: bisque;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
.slidbar{
    top: 10vh;
    position: sticky;
    height: 90vh;
    width: 10vw;
    background-color: blanchedalmond;
}
.contant{
    width: 100%;
    background-color: beige;
    height: 100vh;
}
.main{
    display: flex;
}