body{
    font-family: 'Poppins',sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

.title{
    font-size: 2.5rem;
    color: #4c6faf;
    text-align: center;
}

.subtitle{
    font-size: 1.2rem;
    color: #555;
    text-align: center;

}

.section-title{
    color: #222;
    border-bottom: 2px solid #4c8baf;
    display: inline-block;
    margin-bottom: 15px;
}

.hover-text{
    font-size: 1.1rem;
    color: #444;
    transition: color 0.3s, font-size 0.3s;
}

.hover-text:hover{
    color: #e91e63;
    font-size: 1.3rem;
}


.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}