*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator-container{
    height: 80%;
    width: 40%;
    background: rgb(11, 78, 122);
    padding: 2%;
    border-radius: 4%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.500);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
#output-container{
    height: 15%;
    width: 100%;
    background: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 2rem;
    font-weight: bold;
}
#buttons-container{
    height:80% ;
    width: 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
   padding: 10px 0;
}
.btn{
    border: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2 ease;
}

.btn:hover{
    background: rgba(255, 255, 255, 1);
    transform: scale(0.9);
}

.btn:active{
    transform: scale(0.9);

}

#btn-19{
    grid-column: span 2;
}