*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}

.gallry{
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
   gap: 15px;
   align-items: center;
   flex-wrap: wrap;
}
.gallry img{
    
    object-fit:cover ;
    height: 250px;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.grid{
    margin-top: 15px;
margin-bottom: 15px;
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.sec-1{
 background-color: aquamarine;
  border-radius: 15px;

}

.sec-2{
    background-color: blueviolet;
    border-radius: 15px;
}