body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
    color: #333;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.header{
    align-items: center;
    margin-bottom: 20px;
}

.header h1{
    margin: 0;
    font-size: 28px;
}
.header p{
    margin: 4px 0;
    color: #666;
    font-size: 14px;
}
.section{
    margin-bottom: 5px;
}

.section h2{
    border-bottom: 2px solid #007bff;
    padding-bottom: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #007bff;
}




.item{
    margin-bottom: 12px;

}

.item h3{
    margin: 0;
    font-size: 16px;
}

.item span{
    font-size: 14px;
    color: #666;
}

.item p{
    margin: 4px 0 0 0;
    font-size: 14px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.skills span{
    background: #007bff;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
}

@media (max-width:600px){
    .flex>div{
        flex: 1 1 100%;
    }
}
.download-btn{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.download-btn button{
    cursor: pointer;
    height: 100%;
    width: 20%;
}





