*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 20px;
}
h1{
    margin-top: 20px;
}

#head{
    margin-top: 5%;
}
.layout-btn{
    text-decoration: none;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
align-items: center;
}
.layout-btn a{
    color: white;
    text-decoration: none;
}

.container{
    height: 500px;
    align-items: center;
    border: 5px solid black;
    padding: 10px;
}

.section-1{
    height: 100%;
    border: 2px solid;
}
.section-2{
    height: 100%;
    border: 2px solid;
}

.cart{
    border: 2px solid black;
    height: 90%;
    width: 90%;
    border-radius: 10px;
}

.z-shap-1{
    height: 95%;
    width: 100%;
    border: 2px solid black;

}

.img-con{
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.img-col-1{
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.img-2{
    height: 90%;
    width: 90%;
    border: 2px solid black;
}

.navigation{
    height: 10%;
    background: black;
    border: 2px solid black;
    border-radius: 10px;
}

.n-img-1{
    height: 100%;
    width: 100%;
    border: 2px solid black;
}
.con{
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.con-1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}