ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav{
    background: #333;
    padding: 10px;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li:hover{
    background: #444;
}

nav ul li ul{
    display: none;
    position: absolute;
    background: #444;
    padding: 0;
    margin: 0;
    min-width: 150%;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li{
    display: block;
}

nav ul li ul li a{
    padding: 10px;
}

nav ul li ul li:hover{
    background: #555;
}

