body{
    height: 100%;
     width: 100%;
     font-family: Arial, Helvetica, sans-serif;
}

.main{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image{
    height: 100%;
    width: 40%;
    
}

.image img{
    height: 100%;
    width: auto;
}

.content{
    height: 100%;
    width: 50%;
}